<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Chat</h1>
  <div id="chat">
    
  </div>
  <input type="text" name="username" id="username" placeholder="Nome de usuário"> <br> <br>
  <input type="text" name="msg" id="msg" placeholder="Mensagem"> <br> <br>
  <button onclick="submit()">Enviar</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script>
    var io = io('http://localhost:5500');
    
    io.on('disconnect', () => {
      console.log('Desconectado');
    });
    
    io.on('showMsg', (data) => {
      var chat = document.getElementById('chat');

      var p = document.createElement('p');

      p.innerText = data.username + ': ' + data.msg;

      chat.append(p);
    });
    
    function submit() {
      var usernameField = document.getElementById('username');
      var msgField = document.getElementById('msg');
      
      var msg = msgField.value;
      var username = usernameField.value;

      io.emit('msg', { username, msg })
    }
  </script>
</body>
</html>